
*{
    margin: 0px;
    padding: 0px;
}

header{
 
    #navbarColor01{
        justify-content: space-between;
    }

    font-weight: bolder;

    & nav{
        background-color: rgba(60, 110, 143, 1.96);
        /* border-bottom: 1px solid black; */
        /* box-shadow:  0px 3px 5px rgba(76, 76, 76, 0.49); */
    }


    & .container-fluid{
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    & #logo-navbar{
        max-width: 100px;
        display: flex;
    }

    .icone{
        width: 100%;
        padding: 0px 10px;
        color: white;
        font-size: 1.40rem;
     }
}



.nav-item{
	padding: 10px;
	display: flex;
    gap: 10px;

     & input{
        height: 30px;
     }


    & .button{
        font-size: auto;
        color: rgb(0, 0, 0);
        padding: 0px 10px;
        
    }
}
#Titulo-subtitulo {

    margin-top: 180px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    color: rgba(60, 110, 143, 1.96);
    

    & h1 {
        margin-bottom: 30px;
        font-weight: bolder;
        font-size: 40px;
    }


    
}


/* main */
.background {
    display: flex;
    flex-direction: column;
    min-height: 70vh; /* Garante que a altura mínima seja 100% da altura da janela */
    background-image: url(../assets/backgroundlogo.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
}



/* footer */

footer {
    background-color: rgba(60, 110, 143, 1.96);
    height: auto;
    padding: 40px 30px;
    color: white;
    border-top: rgba(60, 110, 143, 1.96);
}

footer h3 {
    margin: 30px 0px 15px 0px;
}

footer .hr {
    max-width: 1420px;
    border: 1px solid #fff;
    margin: auto;
}


.footer-content {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 10px;
    padding: 10px;
}

.footer-card {
    width: 400px;
    display: flex;
    flex-direction: column;

    & i {
        margin-right: 4px;
    }


    & a {

        color: white;
    }
}

footer .rights {
    margin: 20px auto 0px auto;
    text-align: center;
}